<div id="<%= dom_id employee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= employee.nome %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Abreviado:</strong>
    <%= employee.abreviado %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Funcao:</strong>
    <%= employee.funcao %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= employee.telefone %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Admissao:</strong>
    <%= employee.admissao %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Senha:</strong>
    <%= employee.senha %>
  </p>
</div>
