<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= client.nome %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Apelido:</strong>
    <%= client.apelido %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Endereco:</strong>
    <%= client.endereco %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Bairro:</strong>
    <%= client.bairro %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cep:</strong>
    <%= client.cep %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pessoa:</strong>
    <%= client.pessoa %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cnpj:</strong>
    <%= client.cnpj %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= client.cpf %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Ie:</strong>
    <%= client.ie %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rg:</strong>
    <%= client.rg %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Contato:</strong>
    <%= client.contato %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Fone1:</strong>
    <%= client.fone1 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Fone2:</strong>
    <%= client.fone2 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Celular:</strong>
    <%= client.celular %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= client.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Uf:</strong>
    <%= client.uf %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= client.cidade %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Ibge:</strong>
    <%= client.ibge %>
  </p>
</div>
