<%= form_with(model: city, class: "contents") do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul class="list-disc ml-6">
        <% city.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :codigo_ibge, %>
    <%= form.text_field :codigo_ibge,, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": city.errors[:codigo_ibge,].none?, "border-red-400 focus:outline-red-600": city.errors[:codigo_ibge,].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :cidade, %>
    <%= form.text_field :cidade,, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": city.errors[:cidade,].none?, "border-red-400 focus:outline-red-600": city.errors[:cidade,].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :uf %>
    <%= form.text_field :uf, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": city.errors[:uf].none?, "border-red-400 focus:outline-red-600": city.errors[:uf].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
